<div class="row">
  <div class="col-12">
    <ul *ngFor="let concert of concerts">
      <li class="list-group-item shadow bg-white rounded">
        
        <div class="row">
          <div class="col-md-2 col-sm-4">
              <p class="date">{{ concert.dateTime | date :'mediumDate' }}</p>
              <p class="time">{{ concert.dateTime | date : 'shortTime' }}</p>
          </div>
          <div class="col-md-7 col-sm-8">
              <p class="artistName">{{ concert.artistName }}</p>
              <p class="groupName">{{ concert.venueName }}</p>
              <p class="groupName">{{ concert.city }}</p>
          </div>
          <div class="col-md-3 col-12 col-sm-4 align-self-center text-center smartphone">
              <a class="btn" href='{{concert.uri}}' target='blank' role="button">Buy ticket</a>
          </div>
          
        </div>
      </li>
    </ul>
  </div>
  </div>