<div>
  <agm-map [latitude]="venue.lat" [longitude]="venue.lng" [zoom]="13">
    <agm-marker 
        (markerClick)="showInfoWindow(infoWindow, i)"
        [latitude]="venue.lat"
        [longitude]="venue.lng"
        [label]="venue.label"
        [markerDraggable]="venue.draggable"
        (dragEnd)="markerDragEnd(venue, $event)"> 
        <agm-snazzy-info-window [maxWidth]="800"
                                [maxHeight]="800" 
                                [shadow]="{h: '10px',v: '4px',blur: '6px',spread: '0px',opacity: 1.9,color: 'black'}"
                                [closeWhenOthersOpen]="true" 
                                [borderRadius]="'15px'" 
                                [padding]="'0.7em'">   
        
        <ng-template>
          <div class="windows"> 
            <h4><a href='{{venue.website}}' target='blank'>{{ venue.name }}</a></h4>
            <h5 class='text-secondary'>{{ venue.street }} {{venue.zip}}</h5>
            <h5>{{venue.city}}, {{ venue.country }}</h5> 
          </div>
        </ng-template>  
        </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</div>
