<div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker 
        (markerClick)="showInfoWindow(infoWindow, i)"
        [latitude]="venue.lat"
        [longitude]="venue.lng"
        [label]="venue.label"
        [markerDraggable]="venue.draggable"
        (dragEnd)="markerDragEnd(m, $event)"> 
        <agm-snazzy-info-window [maxWidth]="800"
                                [maxHeight]="800" 
                                [shadow]="{h: '0px',v: '3px',blur: '6px',spread: '0px',opacity: 1.9,color: 'black'}" 
                                [closeWhenOthersOpen]="true" 
                                [borderRadius]="'15px'" 
                                [padding]="'1.5em'">   
        
        <ng-template>
          
          <div class="windows"> 
            <h2><a href='{{venue.website}}' target='blank'>{{ venue.name }}</a></h2>
            <h3 class='text-secondary'>{{ venue.city.displayName }},{{venue.city.country.displayName}}</h3>
             <h4>{{venue.street}}</h4> 
            <h5></h5>
          </div>
        </ng-template>  
        </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</div>
