<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="home" ><img src="/src/headphones-2-xxl.png" width="27px" class="mr-3"/><span class="txt">FindYourConcert</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-search"></i></span>
  </button>
  <div class="collapse navbar-collapse mt-1 mb-1 justify-content-end" id="navbarToggleExternalContent">
    <app-search-bar></app-search-bar>
  </div>
</nav>
