<app-navbar></app-navbar>
<div class="container">
  <div *ngIf='artist'>
    <div class="row">
      <div class="col-lg-12">
        <app-artist-img [artist]='artist'></app-artist-img>
        <hr>
      </div>
      <div class="col-lg-12">
        <app-artist-video [artist]='artist' [videos]='videos'></app-artist-video>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="concerts.length">
    <div class="row">
      <div class="col-lg-6">
        <app-concert-list [concerts]='concerts'></app-concert-list>
      </div>
      <div class="col-lg-6">
        <app-map [concerts]='concerts'></app-map>
      </div>
    </div>
  </div>
  <div *ngIf='!concerts.length'>
      <div *ngIf='SimilarArtists.length'>
        <p class="info">This artist is not on tour at the moment, but you can look at those artists who are :</p>
        <app-similar-artist [SimilarArtists]='SimilarArtists'></app-similar-artist>
      </div>
    <div *ngIf='!SimilarArtists.length'>
      <p class="info">This artist is not on tour at the moment, and we have nothing more to show you, sorry ! :(</p>
    </div>
  </div>



