<app-navbar></app-navbar>
<div class="container pt-3">
  <div *ngIf='artist'>
    <app-artist-img [artist]='artist'></app-artist-img>
  </div>
  <div *ngIf="concerts.length">
    <div class="row">
      <div class="col-lg-6">
        <app-concert-list [concerts]='concerts'></app-concert-list>
      </div>
      <div class="col-lg-6">
        <app-map [concerts]='concerts'></app-map>
      </div>
    </div>
  </div>
  <div *ngIf='!concerts.length'>
    <p class="text-center">This artist is not tour at the moment, but you can look at this artist who are :</p>
      <app-similar-artist [SimilarArtists]='SimilarArtists'></app-similar-artist>
  </div>



