<div container>
    
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="1.7">
  <agm-marker 
      *ngFor="let m of concerts; let i = index"
      (markerClick)="showInfoWindow(infoWindow, i)"
      [latitude]="m.venue.lat"
      [longitude]="m.venue.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window #infoWindow id="iw-container">
                        <h2>{{ m.performance[0].displayName }}</h2>
                        <h3 class='text-secondary'>{{ m.start.datetime | date:"short" }}</h3>
                        <h4><a href='{{m.uri}}' target='blank'>{{ m.venue.displayName }}</a></h4>
                        <h5>{{ m.location.city }}</h5>             
      </agm-info-window>
  </agm-marker>
</agm-map>
</div>
