<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <ul *ngFor="let concert of concerts | paginate: { itemsPerPage: 5, currentPage: page } ">
        <li class="list-group-item shadow bg-white rounded">
          <div class="row">
            <div class="col-4 d-flex mr-2">
              <div *ngIf="concert.dateTime">
                <p class="date">{{ concert.dateTime | date :'mediumDate' }}</p>
                <p class="time">{{ concert.dateTime | date : 'shortTime' }}</p>
                <div *ngIf="concert.status == 'cancelled'">
                  <a class="disabledBtn btn btn-sm" target='blank' role="button">Cancelled</a>
                </div>
                <div *ngIf="concert.status == 'ok'"><a class="btn btn-sm" href='{{concert.uri}}' target='blank' role="button" disabled>Buy ticket</a></div>
              </div>
              <div *ngIf="!concert.dateTime">
                <p class="date">{{ concert.date | date :'mediumDate' }}</p>
                <a class="btn btn-sm" href='{{concert.uri}}' target='blank' role="button">Buy ticket</a>
              </div>
            </div>
            <div class="col-7">
              <div *ngIf="!concert.dateTime">
                <p class="artistName">{{ concert.name }}</p>
                <p *ngIf="concert.venueName != 'Unknown venue'" class="groupName"><a routerLink='/venue/{{ concert.venueId }}'>{{ concert.venueName }}</a></p>
                <p class="groupName">Festival in <a routerLink='/city/{{ concert.cityId }}'>{{ concert.city }}</a></p>
                <!-- <p class="groupName">{{ concert.artistName }}</p> -->
              </div>
              <div *ngIf="concert.dateTime">
                <p class="artistName">{{ concert.artistName }}</p>
                <p class="venueName"><a routerLink='/venue/{{ concert.venueId }}'>{{ concert.venueName }}</a></p>
                <p class="groupName"><a routerLink='/city/{{ concert.cityId }}'>{{ concert.city }}</a></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-11 p-0 d-flex justify-content-center">
    <pagination-controls (pageChange)="onPageChange($event)" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>

