<div *ngIf="concerts">
<div class="container">
  <div class="row">
    <div class="col-12">
      <ul *ngFor="let concert of concerts | paginate: { itemsPerPage: 5, currentPage: page } ">
        <li class="list-group-item shadow bg-white rounded">
          
          <div class="row">
            <div class="col-4">
                <p class="date">{{ concert.dateTime | date :'mediumDate' }}</p>
                <p class="time">{{ concert.dateTime | date : 'shortTime' }}</p>
            </div>
            <div class="col-8">
                <p class="artistName"><a href='{{concert.uri}}' target='blank'>{{ concert.artistName }}</a></p>
                <p class="groupName">{{ concert.venueName }}</p>
                <p class="groupName">{{ concert.city }}</p>
            </div>
        
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-11 p-0 d-flex justify-content-center">
    <pagination-controls (pageChange)="onPageChange($event)" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
</div>
</div>
</div>
<div *ngIf="!concerts">
  <p>This artist is not tour at the moment, so we have nothing to show you :(</p>
</div>
