<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
  <agm-marker
      *ngFor="let m of concerts; let i = index"
      (markerClick)="showInfoWindow(infoWindow, i)"
      [latitude]="m.venue.lat"
      [longitude]="m.venue.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      <agm-snazzy-info-window [maxWidth]="800"
                              [maxHeight]="800"
                              [shadow]="{h: '0px',v: '3px',blur: '6px',spread: '0px',opacity: 1.9,color: 'black'}"
                              [closeWhenOthersOpen]="true"
                              [borderRadius]="'15px'"
                              [padding]="'1.5em'">

      <ng-template>

        <div class="windows">
          <h2>{{ m.performance[0].displayName }}</h2>
          <h3 class='text-secondary'>{{ m.start.datetime | date:"short" }}</h3>
          <h4><a href='{{m.uri}}' target='blank'>{{ m.venue.displayName }}</a></h4>
          <h5>{{ m.location.city }}</h5>
        </div>
      </ng-template>
      </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
