.userInput {
  font-size: 2rem;
  color: purple;
  font-weight: bold;
  font-style: italic;
}

.subText {
  font-size: 1.3rem;
}

.resultsLine {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.artistName {
  font-size: 1.7rem;
}

.songkickLink {
  font-size: 1.3rem;
}

.onTour {
  font-size: 1.3rem;
}

.musicNote {
  max-width: 7rem;
  border-radius: 50%;
  
}

.align a img {
  box-shadow: 2px 2px 2px 0px rgba(173, 171, 173, 1);
}

@media (max-width: 577px) {
  .userInput {
    font-size: 1.7rem;
  }
  .subText {
    font-size: 1.3rem;
  }
  .resultsLine {
    font-size: 1.7rem;
  }
  .artistName {
    font-size: 1.5rem;
  }
  .songkickLink {
    font-size: 1.3rem;
  }
  .onTour {
    font-size: 1.3rem;
  }
}

.imgVenue {
  max-width: 7rem;
  max-height: 7rem;
  margin-left: 65px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px rgba(173, 171, 173, 1);
}
