<div *ngIf="videos.length != 0">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-12">
      <youtube-player 
      [videoId]="videos[0].videoId" 
      (ready)="savePlayer($event)"
      >
      </youtube-player>
    </div>
    <div class="playlist">
      <span *ngFor="let element of videos">
        <img [src]="element.thumbnail" class="m-1" alt="bla" (click)="onChoosingVideo(element.videoId)">
        <p>{{ element.title }}</p>
      </span>
    </div>
  </div>      
</div>
