
<div class="container mb-1 date-filter">
  <form class="form-inline">
    <div class="form-group">
      <div class="row">
        <div class="col-5 col-sm-4 mt-1">
          <div class="datepicker-container" (click)="d2.toggle()">
            <input id="datepicker-mindate" class="form-control" type="text" readonly placeholder="From" name="d2" [(ngModel)]="dateMin" ngbDatepicker #d2="ngbDatepicker">
            <img class="ui-datepicker-trigger" src="../../assets/images/calendar.png" alt="calendar icon">
          </div>
        </div>
        <div class="col-5 col-sm-4 mt-1">
          <div class="datepicker-container" (click)="d3.toggle()">
            <input class="form-control" type="text" readonly placeholder="To" name="d3" [(ngModel)]="dateMax" ngbDatepicker #d3="ngbDatepicker">
            <img class="ui-datepicker-trigger" src="../../assets/images/calendar.png" alt="calendar icon">
          </div>
        </div>
        <div class="col-5 col-sm-4 mt-1">
          <button (click)="onSubmit(dateMin, dateMax)" class="btn ml-1" id="filter" type="button">Filter</button>
        </div>
      </div>
    </div>
  </form>
</div>


<!--   
  <hr/>
  <button class="btn btn-sm btn-outline-primary" (click)="dateMin = today; dateMax = today">Select Today</button>
  <hr/> 

  <button class="btn input-group-append" type="button"><i class="fas fa-calendar-alt"></i></button> -->
